/* Minimal custom CSS to supplement Bootstrap */
.text-brown {
    color: brown !important;
}

.text-brown:hover {
    color: tomato !important;
}

.border-brown {
    border-color: brown !important;
}

.cursor-pointer {
    cursor: pointer;
}

.nav-link.active {
    font-weight: bold;
} 

@font-face {
    font-family: 'KuranKerimFontAbay';
    src: url('/src/assets/KuranKerimFontAbay.ttf') format('truetype');
  }
  
.arabic-text {
    font-family: 'KuranKerimFontAbay', serif;
    direction: rtl;
    font-size: 24px; 
  }